body {
    background-color: black;
    margin: 0;
}

#videoContainer {
    position: absolute;
    height: 100%;
    width: 100%;
}

#video {
    margin: auto;
    object-fit: cover;
    width: 100px;
    height: 100px;
    min-width: 100%;
    min-height: 100%;
    object-position: center;
}

#overlayContainer {
    position: absolute;
    width: 100%;
    height: 100%;
    display: none;
}

#overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
}

#errorLabel {
    color: rgba(265,265,265,0.2);
    font-size: 50px;
    font-family: sans-serif;
    font-weight: 100;
    margin-top: 20px;
}